@model IEnumerable<Category>

<ul>
    @foreach (var item in Model)
    {
        @if (item.SubCategories.Any())
        {
            <li class="drop-down">
                <a asp-action="Projects" asp-controller="Home" asp-route-p="1" asp-route-categoryId="@item.Id" asp-route-subCategoryId="0">@item.CategoryName</a>
                <ul>
                @foreach (var subcategory in item.SubCategories)
                {
                    <li><a asp-action="Projects" asp-controller="Home" asp-route-p="1" asp-route-categoryId="0" asp-route-subCategoryId="@subcategory.Id">@subcategory.SubCategoryName</a></li>
                }
                </ul>

            </li>
        }else
        {
            <li><a asp-action="Projects" asp-controller="Home" asp-route-p="1" asp-route-categoryId="@item.Id" asp-route-subCategoryId="0">@item.CategoryName</a></li>
        }
        
    }
    
</ul>

@* <ul>
    <li><a asp-action="Services">Services</a></li>
    <li class="drop-down">
        <a href="">Projects</a>
        <ul> <!-- starts here-->
            <li><a href="#">Drop Down 1: category-without-subcategory</a></li> <!--1-->
            <li class="drop-down">
                <a href="#">Deep Drop Down</a>
                <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
        </ul>
    </li>
    <li><a asp-action="Contact">Contact</a></li>
    <li><a asp-area="Admin" asp-controller="Admin" asp-action="Index" target="_blank">Admin Area</a></li>

</ul> *@